[Desktop Entry]
Encoding=UTF-8
Name=Rogue++
GenericName=Rogue++
Comment=The original curses-based adventure game, modernized
Exec=rogue++
Icon=rogue++
Terminal=true
Type=Application
Categories=Game;RolePlaying;
Version=1.0
